<div class="container">

  <h1>Sign up</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :home_address,
                  required: true,
                  autofocus: true,
                  input_html: {
                    autocomplete: "home_address",
                    id: "address"
                  }%>

                  <ul class= "results">

                  </ul>
                  <br>


      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <style>
    .form-actions {
      background-color: #D07E13;
      border: 1px solid white;
      margin-bottom: 130px;
      padding: 8px 24px;
      border-radius: 50px;
      font-weight: lighter;
      text-align: center;
    }
  </style>

</div>
