<div class="chatbox">
  <h1 class="chatroom-head"> Your discussion with <%= @chatroom.order.lines.first.meal.user.first_name %> </h1>
  <div class="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <% sender = @sender == message.user %>
      <div class="message<%=' sender' if sender  %>" id="message-<%= message.id %>">
        <div>
          <i class="author">
            <span><%= message.user.first_name %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p><%= message.content %></p>
        </div>
      </div>
    <% end %>
  </div>

  <form class="new-message-form" id="new_message" novalidate="novalidate" action="/chatrooms/<%= @chatroom.id %>/messages" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="hkdFS4nRYsxEv6dqr1zD2IbP/Tmoxh9ViS21SPSrtE0/VZY+r6GkVw3pacwww+4HJ2wU5jNTUCLKOhLdU795MA==">
      <div class="type-zone">
        <input class="form-control string optional input" placeholder="Message #" type="text" name="message[content]" id="message_content">
        <input type="submit" name="commit" value="Send" class="send-btn-chat" data-disable-with="Send">
      </div>
  </form>
</div>

