<div id="checkout" class="overlay">
  <!-- Button to close the overlay navigation -->
  <div class="close-btn">
    <a href="javascript:void(0)" id="close-btn">&times;</a>
  </div>
  <!-- Overlay content -->
  <div class="overlay-content">
    <div class="container">
      <h1><%= @chef.full_name %> also propose </h1>
      <% @other_courses.each do |meal| %>

        <div class="card-suggestion" id="other-course-meal-id-<%= meal.id%>" style="background-image: url(<%= cl_image_path meal.photo.key, height: 320, width: 300, crop: :fill %>);">
            <div class="card-suggestion-infos">
              <div>
                <%= link_to meal_path(meal, quantity: params[:quantity]) do %>
                <h2><strong><%= meal.name %></strong></h2>
                <p><%= meal.price_cents.fdiv(100) %>€</p>
                <% end %>
              </div>
              <div class="card-suggestion-footer">
                <div class="meal-card-action">
                <%#  <i class="fas fa-shopping-basket"></i>%>
                  <a href="#" class="add-to-cart" data-meal-id=<%= meal.id %>>+</a>
                  <a href="#" class="meal-added-to-cart" data-meal-id=<%= meal.id %>>Added</a>
                </div>
              </div>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-suggestion-user avatar-bordered" />
            </div>

            </div>
        <% end %>
          <%= simple_form_for Line.new do |f| %>
            <div class="line-button">
              <%= f.button :submit %>
            </div>
            <%= f.input :meal, :as => :hidden, :input_html => { :value => @meal.id } %>
            <% @other_courses.each do |meal| %>
              <%= f.input :meal ,:as => :hidden, input_html: { name: "other_meal_#{meal.id}", id: "other_meal_added_to_basket_#{meal.id}", class: "other_meal_added_to_basket"} %>
            <% end %>

            <%# <%= l.input :quantity ,:as => :hidden, input_html: { name: "line_#{line.id}", id: "quantity_input_line_#{line.id}", class: "quantity-input"} %>
          <% end %>
    </div>
  </div>
</div>

<a href="javascript:void(0)" id="open-btn">Yummi</a>
