<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" id="close-btn">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">

  <div class="container">

    <%= form_tag meals_path, method: :get do %>

    <legend id="title-filters" class="pt-0">What are you Yumming for?</legend>

      <%= text_field_tag :query,
        params[:query],
        class: "form-control mb-3",
        placeholder: "You can type a dish here"
      %>

      <%= text_field_tag :chef,
        params[:chef],
        class: "form-control mb-3",
        placeholder: "You can type a chef here"
      %>

      <%= text_field_tag :day,
        params[:day],
        class: "form-control datepicker mb-3",
        placeholder: "You can type a date here"
      %>
      <p class="mb-1">You can add a price range:</p>
      <%= text_field_tag :price,
        params[:price],
        class: "js-range-slider-price color-orange mb-5"
      %>
      <p class="mb-1">You can add an address:</p>
      <%= text_field_tag :home_address,
        params[:home_address],
        class: "form-control mb-3",
        id:"address",
        placeholder: "What is your delivery address?"
      %>

      <ul class= "results">
      </ul>
      <p class="mb-1">Maximum distance:</p>
      <%= text_field_tag :distance,
        params[:distance],
        class: "js-range-slider-radius mb-3"
      %>

      <legend class="pt-0">What's your mood like?</legend>
      <% @cuisines.each do |cuisine| %>
        <div class="tag-item">
          <%= check_box_tag "cuisine[]", cuisine,
          params[:cuisine].present? && params[:cuisine].include?(cuisine),
            class: 'form-check-input check_boxes optional tag-selector',
            id: "cuisine-#{cuisine}" %>
          <label class="form-check-label collection_check_boxes" for="cuisine-<%= cuisine %>"><%= cuisine %></label>
        </div>
      <% end %>

    <legend class=" pt-0">Choose your course:</legend>
      <% @courses.each do |course| %>
        <div class="tag-item">
          <%= check_box_tag "course[]", course.id,
          params[:course].present? && params[:course].include?(course.id.to_s),
            class: 'form-check-input check_boxes optional tag-selector',
            id: "course-#{course.id}" %>
          <label class="form-check-label collection_check_boxes" for="course-<%= course.id %>"><%= course.name %></label>
        </div>
      <% end %>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary mt-5" %>
      <br>
    <% end %>
   </div>
   </div>
</div>


  <!-- <input type="text" class="js-range-slider" name="my_range" value="" /> -->



<script>
  $(".js-range-slider-price").ionRangeSlider({
      type: "double",
      skin: "round",
      min: <%= Meal.minimum(:price_cents) / 100 %>,
      max: <%= Meal.maximum(:price_cents) / 100 %> ,
      from: <%= params[:price] ? params[:price].split(';').first.to_i : Meal.minimum(:price_cents) / 100 %>,
      to: <%= params[:price] ? params[:price].split(';').last.to_i : Meal.maximum(:price_cents) / 100 %>,
      prefix: "€"
    });

  $(".js-range-slider-radius").ionRangeSlider({
      skin: "round",
      min: 0,
      max: 10 ,
      from: <%= params[:distance] ? params[:distance].to_i : 10 %>,
      postfix: "km"
    });
</script>
