<%= form_tag meals_path, method: :get do %>

  <%= text_field_tag :chef,
    params[:chef],
    class: "form-control",
    placeholder: "Are you looking for a chef in particular?"
  %>

  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "What would make you feel Yummi?"
  %>

  <%= text_field_tag :cuisine,
    params[:cuisine],
    class: "form-control",
    placeholder: "What type of food are you looking for?"
  %>



  <legend class="col-form-label pt-0">Tags</legend>
    <% @courses.each do |course| %>
      <div class="tag-item">
        <input type="hidden" value="">
        <%= check_box_tag "course#{course.id}", 1,
        params["course#{course.id}"].present?,
          class: 'form-check-input check_boxes optional tag-selector' %>
        <label class="form-check-label collection_check_boxes" for="course<%= course.id %>"><%= course.name %></label>
      </div>
    <% end %>



  <%= text_field_tag :day,
    params[:day],
    class: "form-control datepicker",
    placeholder: "When?"
  %>

  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= console %>



