<div class="navbar">

  <%= link_to root_path do %>
    <div class="navbar__item -blue">
      <span class="navbar__icon">
          <i class="fas fa-home"></i>
      </span>
    </div>
  <% end %>


  <%= link_to meals_path do %>
    <div class="navbar__item -orange">
      <span class="navbar__icon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  <% end %>


  <%= link_to "#" do  %>
    <div class="navbar__item -navy-blue">
        <span class="navbar__icon">
            <i class="fas fa-sticky-note"></i>
        </span>
    </div>
  <% end %>

  <%= link_to "#" do  %>
    <div class="navbar__item -yellow">
      <span class="navbar__icon">
          <i class="fas fa-comments"></i>
      </span>
    </div>
  <% end %>

  <%= link_to "#" do  %>
    <div class="navbar__item -purple">
      <span class="navbar__icon">
          <i class="fas fa-user-circle"></i>
      </span>
    </div>
  <% end %>
</div>
