<div class="navbar">

  <%= link_to home_path do %>
    <% if params[:controller] == 'pages' && params[:action] == 'home'%>
      <div class="navbar__item">
        <span class="navbar__icon">
          <%= image_tag 'homeorange.svg' %>
        </span>
      </div>
    <% else %>
      <div class="navbar__item">
        <span class="navbar__icon">
          <%= image_tag 'home.svg' %>
        </span>
      </div>
    <% end %>
  <% end %>


  <%= link_to meals_path do %>
    <% if params[:controller] == 'meals' && params[:action] == 'index'%>
      <div class="navbar__item">
        <span class="navbar__icon">
          <%= image_tag 'searchorange.svg' %>
        </span>
      </div>
    <% else %>
      <div class="navbar__item">
        <span class="navbar__icon">
          <%= image_tag 'search.svg' %>
        </span>
      </div>
    <% end %>
  <% end %>


  <%= link_to dashboard_path do  %>
    <% if params[:controller] == 'pages' && params[:action] == 'dashboard'%>
      <div class="navbar__item">
        <span class="navbar__icon">
            <%= image_tag 'userorange.svg' %>
        </span>
      </div>
    <% else %>
      <div class="navbar__item">
        <span class="navbar__icon">
          <%= image_tag 'user.svg' %>
        </span>
      </div>
    <% end %>
  <% end %>

</div>
