  <ul class="list-inline tabs-underlined">
   <li>
     <%= link_to "Orders", dashboard_path, class: "tab-underlined" %>
   </li>
   <li>
     <%= link_to "Messages", "#", class: "tab-underlined" %>
   </li>
   <li>
     <%= link_to "Accout Settings", settings_path , class: "tab-underlined" %>
   </li>
 </ul>

 <br><br>

<br><br>

<div class= "container" >
  <div class ="container-order">

    <%# <div class="card-product-order"> %>
      <%# <%= cl_image_tag @meal.photo.key %>
      <%# <div class="card-product-order-infos"> %>
        <%# <p><strong>Product name</strong></p> %>
        <%# <p>Color: Black, Size: M, Qty: 1</p> %>
      <%# </div> %>
      <%# <p>$49.00</p> %>
    <%# </div> %>
    <div class="order-cards">
      <% if Order.count > 0 %>
      <% @orders.each do |order| %>
        <div class="order-card">
          <div class="order-card-head">
            <div class="order-card-head-infos">
              <div class="order-card-head-infos-left">
                <div class="container-dashboard-order">
                  <p><%= order.status %></p>
                  <p><%= order.id %><%= order.random_order_number %></p>
                  <p><%= order.price_cents.fdiv(100) %>€</p>
                  <p><%= order.random_delivery_date %></p>
                </div>

              </div>
<!--               <div class="order-card-head-infos-right">
                <i class="far fa-comments"></i>
              </div> -->

              <% if Order.all == nil %>
                <%= link_to chatroom_path(order.chatroom) do  %>
                  <div class="order-card-head-infos-right">
                    <i class="far fa-comments"></i>
                  </div>
                <% end %>
              <% end %>

            </div>
              <div class="order-card-details-bottom">

                <% if order.review %>
                  <p>" <%= order.review.content %> " - <%= order.review.rating %> / 5</p>
                <% else %>
                  <div class="dashboard-review">
                    <a type="button" id="review-link" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Leave a review</a>
                  </div>
                <% end %>

                <div class="order-card-detail-btn" >
                  <a href="#" data-order-id="<%= order.id %>">
                    <i class="fas fa-list"></i>
                  </a>
                </div>
              </div>
<!-- Expandable details start-->
              <div class="order-card-lines" id="order-lines-<%= order.id %>">
                  <% order.lines.each do |line| %>
                    <div class="order-line">
                      <div class="order-line-left">
                        <div class="flex-quantity">
                          <p><%= line.quantity %></p>
                        </div>
                        <p><%= line.meal.name %></p>
                      </div>
                      <div class="order-line-right">
                        <p><%= line.meal.price_cents.fdiv(100).round(2) %> €</p>
                      </div>
                    </div>
                  <% end %>
                <div class="order-card-details-expanded-bottom">
                  <P>Total : <%= order.total_before_checkout.fdiv(100).round(2) %> €</P>
                  <a href="#" data-order-id="<%= order.id %>">
                    <i class="far fa-minus-square"></i>
                  </a>
                </div>
              </div>
<!-- Expandable details end-->
<!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <div class="modal-body">
                      <%= render 'reviews/new', order: order %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <%# <footer class="mt-3">
      <ul class="flex flex-column">
        <li class="d-flex justify-content-between"><i>Subtotal</i> <i>$98.00</i></li>
        <li class="d-flex justify-content-between"><i>Tax</i> <i>$10.00</i></li>
        <li class="d-flex justify-content-between"><i>Delivery</i> <i>Free</i></li>
        <li class="d-flex justify-content-between"><i>Total</i> <i>$108.00</i></li>
      </ul>
    </footer> %>

  </div>
</div>
