<div class="banner">
  <h2>Eat local food, prepared with love</h2>
  <div class="search-bar">
    <center><%= render 'shared/home_form' %></center>
  </div>
</div>

<div class="titles">
  <h3>Moment offers </h3>
  <%= link_to "See all", meals_path, id: 'link-to'  %>
</div>

<div class="card-flex">

  <ul>
    <% @meals.each do |meal| %>
    <li>
      <div class="card-suggestion-home" style="background-image: url(<%= cl_image_path meal.photo.key, height: 320, width: 300, crop: :fill %>);">
        <div class="card-suggestion-infos-home">
          <%= link_to meal_path(meal), id: 'link' do %>
            <div class="display-flex-card">
              <div class="display-column">
                <h2 id="margin-top"><strong><%= meal.name[0..18] %></strong></h2>
                <div><div class="tag-show-card"><p><%= meal.cuisine %></p></div></div>
              </div>
              <div class="display-column">
                <h3><%= meal.user.full_name %></h3>
                <% if meal.user.rating_average != nil %>
                  <%= image_tag 'star.svg' %>
                  <h3 id="flex-grow"><%= number_to_human  meal.user.rating_average %>/5</h3>
                <% end %>
                <h2 class="price-tag"><%= meal.price_cents.fdiv(100) %>€</h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>



