<div class="banner">
  <h1>YUMMI !</h1>
  <h2>live a culinary experience thanks to your neighbors</h2>
  <div class="search-bar">
    <center><%= render 'shared/home_form' %></center>
  </div>
</div>

<h3>Top moment offers ! </h3>

<div class="card-flex">

  <ul>
    <% @meals.each do |meal| %>
    <li>
      <div class="card-suggestion">
    
        <%= cl_image_tag meal.photo.key, height: 200, width: 375, crop: :fill %>

        <div class="card-suggestion-infos">
          <div>
            <%= link_to meal_path(meal), id: 'link' do %>
            <h2 id="margin-top"><strong><%= meal.name %></strong></h2>
            <p><%= meal.description[0..200] %>...</p>
            <div class="price-wrap">
              <h2><%= meal.price_cents.fdiv(100) %></h2>
              <i class="fas fa-euro-sign"></i>
            </div>
            <% end %>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-suggestion-user avatar-bordered" />
          </div>
        </div>
      </div>


    </li>
    <% end %>
    
  </ul>
</div>

