<div id="container-index">
  <h1>All meals</h1>
  <p> We found <%= pluralize @meals.count, "result" %> </p>
</div>

<div class="wrap-button">
  <a href="javascript:void(0)" id="open-btn" class="btn btn-primary">filters</a>

</div>

<%= render 'shared/filter_form' %>

<div id="meal-cards">
  <% @meals.each do |meal| %>
    <center><div class="card-suggestion" style="background-image: url(<%= cl_image_path meal.photo.key, height: 320, width: 300, crop: :fill %>);">
      <div class="card-suggestion-infos">
        <div>
          <%= link_to meal_path(meal), id: 'link' do %>
            <h2 id="margin-top"><strong><%= meal.name %></strong></h2>
            <h2><%= meal.price_cents.fdiv(100) %>€</h2>
          <% end %>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-suggestion-user avatar-bordered" />
        </div>
      </div>
    </div>
  <% end %>
</div>


