<h1>All meals</h1>


  <%= render 'shared/filter_form' %>


<div id="meal-cards">
<%= console %>
 <% @meals.each do |meal| %>
  <div class="card-suggestion">
    <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-suggestion-infos">
        <div>
          
          <%= link_to meal_path(meal, quantity: params[:quantity]) do %>
          
          <h2><strong><%= meal.name %></strong></h2>
          <% end %>
          <p><%= meal.description %></p>
        </div>
          <h2 class="card-suggestion-pricing">meal.price</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-suggestion-user avatar-bordered" />
      </div>

        <div class="icon">
          <i class="fas fa-euro-sign"><%= meal.price_cents.fdiv(100) %></i>
        </div>
        <div class="meal-card-actions">
        </div>
      </div>
    
  <% end %>
</div>


