<div class="statick">
  <h1>All meals</h1>
  <div class="wrap-button">
    <p> We found <%= pluralize @meals.count, "result" %> </p>
  </div>

  <div class="filter-search-wrap">
      <% if params[:query] && params[:query] != ""%>
        <div class="search-query">
            <p><%= params[:query] %></p>
        </div>
      <% end %>
    </a>

      <% if params[:chef] && params[:chef] != ""%>
        <div class="search-query">
            <p><%= params[:chef] %></p>
            <%= render 'shared/filter_form' %>
        </div>
      <% end %>
      <% if params[:day].present? && params[:day] != "" %>
        <div class="search-query">
            <p><%= params[:day] %></p>
        </div>
      <% end %>
      <% if params[:price] && params[:price] != "" %>
        <div class="search-query">
            <p>from <%= params[:price].split(";").first %>€ to <%= params[:price].split(";").last %>€</p>
        </div>
      <% end %>
      <% if params[:home_address] && params[:home_address] != "" %>
        <div class="search-query">
            <p><%= params[:home_address] %></p>
        </div>
      <% end %>
      <% if params[:distance] && params[:distance] != "" %>
        <div class="search-query">
            <p><%= params[:distance] %>km</p>
        </div>
      <% end %>
      <% if params[:cuisine] && params[:cuisine] != "" %>
        <div class="search-query">
            <p><%= params[:cuisine].join(", ") %></p>
        </div>
      <% end %>
      <% if params[:course].present? && params[:course].include?("1") && params[:course] != "" %>
        <div class="search-query">
          <p><%= Course.find("#{params[:course].first}").name %></p>
        </div>
      <% end %>
      <% if params[:course].present? && params[:course].include?("2") && params[:course] != ""%>
        <div class="search-query">
          <p><%= Course.find("#{params[:course][1]}").name %></p>
        </div>
      <% end %>
      <% if params[:course].present? && params[:course].include?("3") && params[:course] != ""%>
        <div class="search-query">
          <p><%= Course.find("#{params[:course].last}").name %></p>
        </div>
      <% end %>
  </div>
</div>

<div class="filter-icon">
  <a href="javascript:void(0)" id="open-btn" class="btn-filter">
    <img src=" <%= image_path ("filter-icon.png") %> " alt="" class="tag">
  </a>
  <%= render 'shared/filter_form' %>
</div>







<div id="meal-cards">
  <% @meals.each do |meal| %>
    <center><div class="card-suggestion" style="background-image: url(<%= cl_image_path meal.photo.key, height: 320, width: 300, crop: :fill %>);">
      <div class="card-suggestion-infos">
        <%= link_to meal_path(meal), id: 'link' do %>
          <div class="display-flex-card">
            <div class="display-column">
              <h2 id="margin-top"><strong><%= meal.name[0..18] %></strong></h2>
              <div><div class="tag-show-card"><p><%= meal.cuisine %></p></div></div>
            </div>
            <div class="display-column">
              <h3>By <%= meal.user.full_name %></h3>
              <% if meal.user.rating_average != nil %>
                <%= image_tag 'star.svg' %>
                <h3 id="flex-grow"><%= number_to_human  meal.user.rating_average %>/5</h3>
              <% end %>
              <h2 class="price-tag"><%= meal.price_cents.fdiv(100) %>€</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



