<h1>All meals</h1>

<%= render 'shared/filter_form' %>
<%= @meals.count %>

 <% @meals.each do |meal| %>
  <ul>
    <li><div class="card-suggestion">
      <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2020/02/0ce7dc22-8fc2-4336-9c35-55ff1fa1461b/1200x680_bourguignon.jpg" />
      <div class="card-suggestion-infos">
        <div>
          <h2><strong><%= meal.name %></strong></h2>
          <p><%= meal.description %></p>
        </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-suggestion-user avatar-bordered" />
        <div class="card-suggestion-wrap">
          <h2> <%= meal.price_cents %></h2>
          <i class="fas fa-euro-sign"></i>
        </div>
    </div></li>
  </ul>
  
  
<% end %>
