<div class="show-banner">
<%= cl_image_tag @meal.photo.key, height: 300, width: 375, crop: :fill %>
</div>

<h2><%= @meal.name %></h2>
<div class="description-show">
  <p><%= @meal.description %></p>
</div>

<div class="show-icons">
  <ul>
    <li><i class="fas fa-utensils"></i></li>
    <li><i class="fas fa-seedling"></i></li>
    <li><i class="fas fa-map-marker-alt"></i></li>
  </ul>
  <br>
  <hr>
  <div class="btn-order">
    <%= render 'shared/checkout_modal' %>
  </div>
</div>

<div class="chef-card">
  <div class="chef-card-flex">
    <div class="chef-card-left">
      <h2><%= @chef.full_name %></h2>
      <%= cl_image_tag @meal.photo.key, height: 160, width: 150, crop: :fill %>
      <ul>
        <li><i class="fas fa-drumstick-bite"></i></li>
        <li><i class="fas fa-drumstick-bite"></i></li>
        <li><i class="fas fa-drumstick-bite"></i></li>
        <li><i class="fas fa-drumstick-bite"></i></li>
        <li><i class="fas fa-drumstick-bite"></i></li>
      </ul>
    </div>
    <div class="description-chef-show">
      <p><%= @meal.description %></p>
    </div>
  </div>
</div>
<hr>
<div class="reviews-container">
  <strong><h3>Reviews: </h3></strong>
  <% @meal.reviews.each do |review| %>
    <div class="reviews-user-infos">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="review-user avatar-bordered" />
      <ul id="flex-grow-review">
        <li><%= review.user.first_name %></li>
        <li><%= review.created_at.strftime("%B") %></li>
      </ul>
    </div>
    <div class="reviews-user-content">
      <p> <%= review.content %> </p>
    </div>
  <% end %>
</div>
