<!DOCTYPE html>
<html>
  <head>
    <title>Yummi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= image_tag 'yummi.svg', id: "position-logo" %>

    <%= render 'shared/flashes' %>


    <div class="main-wrapper">
      <div class="main-content">
        <%= yield %>
      </div>


      <% if action_name != "homepage" || controller_name != "pages" %>
        <%= render 'shared/navbar' %>        

      <% end %>
    </div>
  </body>
</html>
